// SPDX-License-Identifier: GPL-2.0 or X11
/*
 * support for the imx6 based aristainetos2-revC board
 *
 * Copyright (C) 2015..2021 Heiko Schocher <hs@denx.de>
 *
 */
#include <dt-bindings/mcp2210.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/imx6qdl-clock.h>

/ {
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		enable-gpios = <&gpio6 31 GPIO_ACTIVE_HIGH>;
	};

	regulators {
		compatible = "simple-bus";

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usbh1_vbus: usb-h1-vbus {
			compatible = "regulator-fixed";
			enable-active-high;
			gpio = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_aristainetos2_usbh1_vbus>;
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};

		reg_usbotg_vbus: usb-otg-vbus {
			compatible = "regulator-fixed";
			enable-active-high;
			gpio = <&gpio4 15 GPIO_ACTIVE_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_aristainetos2_usbotg_vbus>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
	};

	mcp2210_2-1.1 {
		compatible = "microchip,mcp2210-2-1.1";

		powerup_chip_settings {
			pin_mode = /bits/ 8 <	MCP2210_PIN_SPI MCP2210_PIN_SPI
					MCP2210_PIN_SPI MCP2210_PIN_SPI
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO>;
			gpio_value = /bits/ 16 <0x0000>;
			gpio_direction = /bits/ 16 <0x0000>;
			other_settings = /bits/ 8 <MCP2210_SPI_BUS_RELEASE_DISABLED>;
			nvram_access_control = /bits/ 8 <0>;
			password =  /bits/ 8 <0x00 0x03 0xbb 0x34 0x71 0x10 0xc4 0x00>;
		};

		chip_settings {
			pin_mode = /bits/ 8 <	MCP2210_PIN_SPI MCP2210_PIN_SPI
					MCP2210_PIN_SPI MCP2210_PIN_SPI
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO>;
			gpio_value = /bits/ 16 <0x0000>;
			gpio_direction = /bits/ 16 <0x0000>;
			other_settings = /bits/ 8 <MCP2210_SPI_BUS_RELEASE_DISABLED>;
			nvram_access_control = /bits/ 8 <0>;
			password =  /bits/ 8 <0x37 0x05 0xbb 0x34 0x71 0x10 0xc4 0x00>;
		};

		powerup_spi_settings {
			/* Powerup spi settings */
			bitrate	= <MCP2210_MAX_SPEED>;
			idle_cs	= /bits/ 16 <0x01ff>;
			active_cs = /bits/ 16 <0x0000>;
			cs_to_data_delay = /bits/ 16 <1>;
			last_byte_to_cs_delay = /bits/ 16 <1>;
			delay_between_bytes	= /bits/ 16 <1>;
			bytes_per_trans	= /bits/ 16 <4>;
			mode = /bits/ 8 <3>;
		};

		spi_settings {
			/* Powerup spi settings */
			bitrate	= <MCP2210_MAX_SPEED>;
			idle_cs	= /bits/ 16 <0x01ff>;
			active_cs = /bits/ 16 <0x0000>;
			cs_to_data_delay = /bits/ 16 <1>;
			last_byte_to_cs_delay = /bits/ 16 <1>;
			delay_between_bytes	= /bits/ 16 <1>;
			bytes_per_trans	= /bits/ 16 <4>;
			mode = /bits/ 8 <3>;
		};

		usb_settings {
			/* usb key parameters */
			vid	= /bits/ 16 <0x04d8>; /* Microchip */
			pid	= /bits/ 16 <0x00de>; /* USB device ID */
			chip_power_option = /bits/ 8 <0x80>;
			requested_power   = /bits/ 8 <0x32>; /* 100mA */
		};

		pin_configuration {
			/* board specific configurations */
			poll_gpio_usecs	= <0>;
			stale_gpio_usecs = <0>;
			poll_intr_usecs	= <0>;
			stale_intr_usecs = <0>;
			3wire_capable = /bits/ 8 <0>;
			3wire_tx_enable_active_high = /bits/ 8 <0>;
			3wire_tx_enable_pin	= /bits/ 8 <0>;
			strings_size = <0>;

			pin@0 {
				pin = /bits/ 8 <0>;
				mode = /bits/ 8 <MCP2210_PIN_SPI>;
				pin_name = "SSIcon1";
				modalias = "spidev";

				spi_prop {
					spi,max_speed_hz = <68300>;
					spi,min_speed_hz = <68300>;
					spi,mode = /bits/ 8 <1>;
					spi,bits_per_word = /bits/ 8 <8>;
					spi,cs_to_data_delay = /bits/ 16 <1>;
					spi,last_byte_to_cs_delay = /bits/ 16 <1>;
					spi,delay_between_bytes = /bits/ 16 <1>;
					spi,delay_between_xfers = /bits/ 16 <1>;
				};
			};

			pin@1 {
				pin = /bits/ 8 <1>;
				mode = /bits/ 8 <MCP2210_PIN_SPI>;
				pin_name = "SSIcon2";
				modalias = "spidev";

				spi_prop {
					spi,max_speed_hz = <68300>;
					spi,min_speed_hz = <68300>;
					spi,mode = /bits/ 8 <1>;
					spi,bits_per_word = /bits/ 8 <8>;
					spi,cs_to_data_delay = /bits/ 16 <1>;
					spi,last_byte_to_cs_delay = /bits/ 16 <1>;
					spi,delay_between_bytes = /bits/ 16 <1>;
					spi,delay_between_xfers = /bits/ 16 <1>;
				};
			};

			pin@2 {
				pin = /bits/ 8 <2>;
				mode = /bits/ 8 <MCP2210_PIN_SPI>;
				pin_name = "LaserTX-alternative";
				modalias = "spidev";

				spi_prop {
					spi,max_speed_hz = <100000>;
					spi,min_speed_hz = <100000>;
					spi,mode = /bits/ 8 <1>;
					spi,bits_per_word = /bits/ 8 <8>;
					spi,cs_to_data_delay = /bits/ 16 <1>;
					spi,last_byte_to_cs_delay = /bits/ 16 <1>;
					spi,delay_between_bytes = /bits/ 16 <1>;
					spi,delay_between_xfers = /bits/ 16 <1>;
				};
			};

			pin@3 {
				pin = /bits/ 8 <3>;
				mode = /bits/ 8 <MCP2210_PIN_SPI>;
				pin_name = "Display";
				modalias = "lg4573";

				spi_prop {
					spi,max_speed_hz = <1000000>;
					spi,min_speed_hz = <1000000>;
					spi,mode = /bits/ 8 <0>;
					spi,bits_per_word = /bits/ 8 <8>;
					spi,cs_to_data_delay = /bits/ 16 <1>;
					spi,last_byte_to_cs_delay = /bits/ 16 <1>;
					spi,delay_between_bytes = /bits/ 16 <1>;
					spi,delay_between_xfers = /bits/ 16 <1>;
				};
			};

			pin@4 {
				pin = /bits/ 8 <4>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO1.4";
			};

			pin@5 {
				pin = /bits/ 8 <5>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO1.5";
			};

			pin@6 {
				pin = /bits/ 8 <6>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO1.6";
			};

			pin@7 {
				pin = /bits/ 8 <7>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO1.7";
			};

			pin@8 {
				pin = /bits/ 8 <8>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO1.8";
			};
		};
	};

	mcp2210_2-1.2 {
		compatible = "microchip,mcp2210-2-1.2";

		powerup_chip_settings {
			pin_mode = /bits/ 8 <	MCP2210_PIN_SPI MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO>;
			gpio_value = /bits/ 16 <0x0000>;
			gpio_direction = /bits/ 16 <0x0000>;
			other_settings = /bits/ 8 <MCP2210_SPI_BUS_RELEASE_DISABLED>;
			nvram_access_control = /bits/ 8 <0>;
			password =  /bits/ 8 <0x00 0x03 0x9d 0x53 0x07 0x48 0x14 0x74>;
		};

		chip_settings {
			pin_mode = /bits/ 8 <	MCP2210_PIN_SPI MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO MCP2210_PIN_GPIO
					MCP2210_PIN_GPIO>;
			gpio_value = /bits/ 16 <0x0000>;
			gpio_direction = /bits/ 16 <0x0000>;
			other_settings = /bits/ 8 <MCP2210_SPI_BUS_RELEASE_DISABLED>;
			nvram_access_control = /bits/ 8 <0>;
			password =  /bits/ 8 <0x76 0x81 0x9d 0x53 0x07 0x48 0x14 0x74>;
		};

		powerup_spi_settings {
			/* Powerup spi settings */
			bitrate	= <MCP2210_MAX_SPEED>;
			idle_cs	= /bits/ 16 <0x01ff>;
			active_cs = /bits/ 16 <0x0000>;
			cs_to_data_delay = /bits/ 16 <1>;
			last_byte_to_cs_delay = /bits/ 16 <1>;
			delay_between_bytes	= /bits/ 16 <1>;
			bytes_per_trans	= /bits/ 16 <4>;
			mode = /bits/ 8 <3>;
		};

		spi_settings {
			/* Powerup spi settings */
			bitrate	= <MCP2210_MAX_SPEED>;
			idle_cs	= /bits/ 16 <0x01ff>;
			active_cs = /bits/ 16 <0x0000>;
			cs_to_data_delay = /bits/ 16 <1>;
			last_byte_to_cs_delay = /bits/ 16 <1>;
			delay_between_bytes	= /bits/ 16 <1>;
			bytes_per_trans	= /bits/ 16 <4>;
			mode = /bits/ 8 <3>;
		};

		usb_settings {
			/* usb key parameters */
			vid	= /bits/ 16 <0x04d8>; /* Microchip */
			pid	= /bits/ 16 <0x00de>; /* USB device ID */
			chip_power_option = /bits/ 8 <0x80>;
			requested_power   = /bits/ 8 <0x32>; /* 100mA */
		};

		pin_configuration {
			/* board specific configurations */
			poll_gpio_usecs	= <0>;
			stale_gpio_usecs = <0>;
			poll_intr_usecs	= <0>;
			stale_intr_usecs = <0>;
			3wire_capable = /bits/ 8 <0>;
			3wire_tx_enable_active_high = /bits/ 8 <0>;
			3wire_tx_enable_pin	= /bits/ 8 <0>;
			strings_size = <0>;

			pin@0 {
				pin = /bits/ 8 <0>;
				mode = /bits/ 8 <MCP2210_PIN_SPI>;
				pin_name = "IOmod";
				modalias = "spidev";

				spi_prop {
					spi,max_speed_hz = <1000000>;
					spi,min_speed_hz = <1000000>;
					spi,mode = /bits/ 8 <3>;
					spi,bits_per_word = /bits/ 8 <8>;
					spi,cs_to_data_delay = /bits/ 16 <0>;
					spi,last_byte_to_cs_delay = /bits/ 16 <0>;
					spi,delay_between_bytes = /bits/ 16 <0>;
					spi,delay_between_xfers = /bits/ 16 <0>;
				};
			};

			pin@1 {
				pin = /bits/ 8 <1>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.1";
			};

			pin@2 {
				pin = /bits/ 8 <2>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.2";
			};

			pin@3 {
				pin = /bits/ 8 <3>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.3";
			};

			pin@4 {
				pin = /bits/ 8 <4>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.4";
			};

			pin@5 {
				pin = /bits/ 8 <5>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.5";
			};

			pin@6 {
				pin = /bits/ 8 <6>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.6";
			};

			pin@7 {
				pin = /bits/ 8 <7>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.7";
			};

			pin@8 {
				pin = /bits/ 8 <8>;
				mode = /bits/ 8 <MCP2210_PIN_GPIO>;
				pin_name ="GPIO2.8";
			};
		};
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux>;
	status = "okay";
};

&ecspi1 {
	fsl,spi-num-chipselects = <3>;
	cs-gpios = <&gpio2 30 GPIO_ACTIVE_LOW
		    &gpio4 10 GPIO_ACTIVE_LOW
		    &gpio4 11 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";
	pinctrl-assert-gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>;
	pinctrl-assert-gpios = <&gpio2 15 GPIO_ACTIVE_HIGH>;

	flash: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,n25q128a11", "jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};

	spidev1_2: spi@2 {
		compatible = "abb,aristainetos";
		reg = <2>;
		spi-max-frequency = <54000000>;
	};
};

&ecspi2 {
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio2 26 GPIO_ACTIVE_LOW &gpio2 27 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	status = "okay";

	spidev2_0: spi@0 {
		compatible = "abb,aristainetos";
		reg = <0>;
		spi-max-frequency = <54000000>;
	};

	spidev2_1: spi@1 {
		compatible = "abb,aristainetos";
		reg = <1>;
		spi-max-frequency = <54000000>;
	};
};

&ecspi4 {
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio3 29 GPIO_ACTIVE_LOW &gpio5 2 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi4>;
	status = "okay";

	spidev4_0: spi@0 {
		compatible = "abb,aristainetos";
		reg = <0>;
		spi-max-frequency = <54000000>;
	};

	spidev4_1: spi@1 {
		compatible = "abb,aristainetos";
		reg = <1>;
		spi-max-frequency = <54000000>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic@58 {
		compatible = "dlg,da9063";
		/* the pmic uses addr 0x58 and 0x59 */
		reg = <0x58>;
		interrupt-parent = <&gpio1>;
		interrupts = <04 0x8>;

		regulators {
			bcore1 {
				regulator-name = "bcore1";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			bcore2 {
				regulator-name = "bcore2";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			bpro {
				regulator-name = "bpro";
				regulator-always-on = <1>;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
			};

			bperi {
				regulator-name = "bperi";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			bmem {
				regulator-name = "bmem";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo2 {
				regulator-name = "ldo2";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1800000>;
			};

			ldo3 {
				regulator-name = "ldo3";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo4 {
				regulator-name = "ldo4";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo5 {
				regulator-name = "ldo5";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo6 {
				regulator-name = "ldo6";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo7 {
				regulator-name = "ldo7";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo8 {
				regulator-name = "ldo8";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo9 {
				regulator-name = "ldo9";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo10 {
				regulator-name = "ldo10";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo11 {
				regulator-name = "ldo11";
				regulator-always-on = <1>;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <3300000>;
			};

			bio {
				regulator-name = "bio";
				regulator-always-on = <1>;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
		};
	};

	tmp103: tmp103@71 {
		compatible = "ti,tmp103";
		reg = <0x71>;
	};
	tpm@20 {
		compatible = "infineon,slb9645tt";
		reg = <0x20>;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	expander: tca6416@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	eeprom@57{
		compatible = "atmel,24c64";
		reg = <0x57>;
		pagesize = <32>;
	};

	rtc@68 {
		compatible = "dallas,m41t00";
		reg = <0x68>;
	};
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	eeprom@50{
		compatible = "atmel,24c64";
		reg = <0x50>;
		pagesize = <32>;
	};

	eeprom@57{
		compatible = "atmel,24c64";
		reg = <0x57>;
		pagesize = <32>;
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii";
	phy-reset-gpios = <&gpio7 18 GPIO_ACTIVE_HIGH>;
	rxc-skew-ps = <1860>;
	txc-skew-ps = <1860>;
	txen-skew-ps = <0>;
	rxdv-skew-ps = <0>;
	rxd0-skew-ps = <0>;
	rxd1-skew-ps = <0>;
	rxd2-skew-ps = <0>;
	rxd3-skew-ps = <0>;
	txd0-skew-ps = <0>;
	txd1-skew-ps = <0>;
	txd2-skew-ps = <0>;
	txd3-skew-ps = <0>;
	status = "okay";
};

&pcie {
	reset-gpio = <&gpio2 16 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pwm1 {
	#pwm-cells = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usbh1_vbus>;
	dr_mode = "host";
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usbotg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	dr_mode = "host";   /* fixed configuration, ID pin not checked */
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio>;

	pinctrl_audmux: audmux {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT7__AUD3_RXD  0x1b0b0
			MX6QDL_PAD_CSI0_DAT4__AUD3_TXC  0x1b0b0
			MX6QDL_PAD_CSI0_DAT5__AUD3_TXD  0x1b0b0
			MX6QDL_PAD_CSI0_DAT6__AUD3_TXFS 0x1b0b0
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO 0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI 0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK 0x100b1
			MX6QDL_PAD_EIM_EB2__GPIO2_IO30 0x100b1  /* SS0# */
			MX6QDL_PAD_KEY_COL2__GPIO4_IO10 0x100b1 /* SS1# */
			MX6QDL_PAD_KEY_ROW2__GPIO4_IO11 0x100b1 /* SS2# */
			MX6QDL_PAD_SD4_DAT7__GPIO2_IO15 0x1b0b0 /* WP pin NOR Flash */
			MX6QDL_PAD_EIM_EB0__GPIO2_IO28  0x1b0b0 /* Flash nReset */
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_OE__ECSPI2_MISO  0x100b1
			MX6QDL_PAD_EIM_CS0__ECSPI2_SCLK 0x100b1
			MX6QDL_PAD_EIM_CS1__ECSPI2_MOSI 0x100b1
			MX6QDL_PAD_EIM_RW__GPIO2_IO26   0x100b1 /* SS0# */
			MX6QDL_PAD_EIM_LBA__GPIO2_IO27  0x100b1 /* SS1# */
		>;
	};

	pinctrl_ecspi4: ecspi4grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__ECSPI4_SCLK 0x100b1
			MX6QDL_PAD_EIM_D22__ECSPI4_MISO 0x100b1
			MX6QDL_PAD_EIM_D28__ECSPI4_MOSI 0x100b1
			MX6QDL_PAD_EIM_D29__GPIO3_IO29  0x100b1 /* SS0# */
			MX6QDL_PAD_EIM_A25__GPIO5_IO02  0x100b1 /* SS1# */
		>;
	};

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO       0x1b0b0
			MX6QDL_PAD_ENET_MDC__ENET_MDC         0x1b0b0
			MX6QDL_PAD_RGMII_TXC__RGMII_TXC       0x1b0b0
			MX6QDL_PAD_RGMII_TD0__RGMII_TD0       0x1b0b0
			MX6QDL_PAD_RGMII_TD1__RGMII_TD1       0x1b0b0
			MX6QDL_PAD_RGMII_TD2__RGMII_TD2       0x1b0b0
			MX6QDL_PAD_RGMII_TD3__RGMII_TD3       0x1b0b0
			MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL 0x1b0b0
			MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK  0x1b0b0
			MX6QDL_PAD_RGMII_RXC__RGMII_RXC       0x1b0b0
			MX6QDL_PAD_RGMII_RD0__RGMII_RD0       0x1b0b0
			MX6QDL_PAD_RGMII_RD1__RGMII_RD1       0x1b0b0
			MX6QDL_PAD_RGMII_RD2__RGMII_RD2       0x1b0b0
			MX6QDL_PAD_RGMII_RD3__RGMII_RD3       0x1b0b0
			MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL 0x1b0b0
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CLK__FLEXCAN1_RX 0x1b0b0
			MX6QDL_PAD_SD3_CMD__FLEXCAN1_TX 0x1b0b0
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT0__FLEXCAN2_TX 0x1b0b0
			MX6QDL_PAD_SD3_DAT1__FLEXCAN2_RX 0x1b0b0
		>;
	};

	pinctrl_gpio: gpiogrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25	0x1b0b0 /* led enable */
			MX6QDL_PAD_NANDF_CS2__GPIO6_IO15	0x1b0b0 /* LCD power enable */
			MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x1b0b0 /* led yellow */
			MX6QDL_PAD_EIM_WAIT__GPIO5_IO00		0x1b0b0 /* led red */
			MX6QDL_PAD_EIM_A24__GPIO5_IO04		0x1b0b0 /* led green */
			MX6QDL_PAD_EIM_EB1__GPIO2_IO29		0x1b0b0 /* led blue */
			MX6QDL_PAD_SD3_DAT5__GPIO7_IO00		0x1b0b0 /* Profibus IRQ */
			MX6QDL_PAD_SD3_DAT6__GPIO6_IO18		0x1b0b0 /* FPGA IRQ currently unused*/
			MX6QDL_PAD_SD4_DAT3__GPIO2_IO11		0x1b0b0 /* Display reset because of clock failure */
			MX6QDL_PAD_EIM_A23__GPIO6_IO06		0x1b0b0 /* spi bus #2 SS driver enable */
			MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x1b0b0 /* RST_LOC# PHY reset input (has pull-down!)*/
			MX6QDL_PAD_SD4_DAT1__GPIO2_IO09		0x1b0b0 /* Touchscreen IRQ */
			MX6QDL_PAD_EIM_A22__GPIO2_IO16		0x1b0b0 /* PCIe reset */
			MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x1a0b0 /* make sure pin is GPIO and not ENET_REF_CLK */
			MX6QDL_PAD_EIM_A21__GPIO2_IO17		0x1b0b0 /* TPM PP */
			MX6QDL_PAD_EIM_A20__GPIO2_IO18		0x1b0b0 /* TPM Reset */
/*			MX6QDL_PAD_SD4_DAT0__NAND_DQS		0x00b1 AFB8_PTIO */
/*			MX6QDL_PAD_NANDF_CS1__NAND_CE1_B	0xb0b1 BAT_LOW# */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT8__I2C1_SDA 0x4001b8b1
			MX6QDL_PAD_CSI0_DAT9__I2C1_SCL 0x4001b8b1
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL 0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA 0x4001b8b1
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__I2C3_SCL 0x4001b8b1
			MX6QDL_PAD_GPIO_6__I2C3_SDA 0x4001b8b1
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_7__I2C4_SCL 0x4001b8b1
			MX6QDL_PAD_GPIO_8__I2C4_SDA 0x4001b8b1
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_9__PWM1_OUT	0x1b0b0
			MX6QDL_PAD_EIM_BCLK__GPIO6_IO31	0x1b0b0 /* backlight enable */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D20__UART1_RTS_B		0x1b0b1
			MX6QDL_PAD_EIM_D19__UART1_CTS_B		0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA 0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA 0x1b0b1
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA 0x1b0b1
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA 0x1b0b1
			MX6QDL_PAD_EIM_D31__UART3_RTS_B	  0x1b0b1
			MX6QDL_PAD_EIM_D23__UART3_CTS_B	  0x1b0b1
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL0__UART4_TX_DATA 0x1b0b1
			MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA 0x1b0b1
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_RX_ER__USB_OTG_ID  0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC    0x1b0b0
		>;
	};

	pinctrl_aristainetos2_usbh1_vbus: aristainetos-usbh1-vbus {
		fsl,pins = <MX6QDL_PAD_GPIO_0__GPIO1_IO00 0x130b0>;
	};

	pinctrl_aristainetos2_usbotg_vbus: aristainetos-usbotg-vbus {
		fsl,pins = <MX6QDL_PAD_KEY_ROW4__GPIO4_IO15 0x130b0>;
	};
};
